@use '../../Styles/media-queries' as *;

.card {
    position: relative;
    width: 90%;
    height: 70vh;
    margin: 10vh auto;
    border-radius: 1.25rem;
    border: red solid .125rem;
    background-color: black;
    overflow-y: auto;
    @include tablet {
        width: 50%;
    }
    @include desktop {
        width: 30%;
    }
}