@use '../../Styles/media-queries' as *;

.card {
    position: relative;
    width: 90%;
    height: 70vh;
    margin: 10vh auto;
    border-radius: 1.25rem;
    border: red solid .125rem;
    background-color: black;
    overflow-y: auto;

    // animation: heartbeat 0.5s infinite alternate;
    @include tablet {
        width: 50%;
    }
    @include desktop {
        width: 30%;
    }
}
@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}